<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        {{>header}}
        <h1>about me</h1>
        <h5>{{about}}</h5>
        <h4> fuck sake its not working</h4>
        {{>footer}}
    </body>
</html>